* {
    font-family: 'Questrial',
        Helvetica,
        Arial,
        Lucida,
        sans-serif;

}

/* ******************contact**************** */
.contact {
    background-image: radial-gradient(ellipse at center, #494949 0%, #0f0f0f 100%) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100vw;
}


/* ********************div-class-cont******************* */

.cont {
    width: 100vw;
    display: flex;

    align-content: center;
    justify-content: space-around;

}




/* ****************titre************************ */

.contact h1 {

    font-weight: 700;
    font-size: 5vw;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Questrial',
        Helvetica,
        Arial,
        Lucida,
        sans-serif;


}



/* *********************sous titre********************* */
.contact h3 {
    font-size: 2vw;
    color: #ffffff;
    text-align: center;
    /* padding-bottom: 10px; */
}

/* *******************formulaire********************* */

.email {
    /* width: 100vh; */
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;



}

/* @media screen and (max-width:893px) {
    .email {
        width: 100%;
        display: flex;
        align-content: center;
        flex-wrap: nowrap;

    }
} */

/* ****************form-size*************** */
.form1 {
    /* margin-left: 15px;
    margin-right: 50px; */
}

.px-11 {
    /* display: flex; */
    width: 20vw;
}

/* .email1 {
    padding-right: 50px;
    display: flex;

    align-content: center;
}

.email2 {
    padding-right: 50px;
    display: flex;

    align-content: center;
} */

.contact form input {
    padding: 10px;
    width: 100%;
    align-content: center;
    margin: 10px auto;
    font-size: 18px;


}

.contact form textarea {
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-content: center;


}


.contact textarea {
    font-size: 18px;
    padding: 10px;
    font-family: 'Questrial',
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    display: flex;
    align-content: center;

}

.footer-col-h3 {
    color: #d0050b;
}

.contact form input:focus,
.contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #000000;
    font-family: 'Questrial',
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #706b6b;
    padding: 10px;



}

.contact select {
    font-size: 20px;
    font-weight: 400;
    color: #706b6b;
    margin-top: 10px;

    width: 103%;
    padding: 10px;
}

@media screen and (max-width:720px) {


    button.btt {
        margin-left: 30%;
    }
}

@media screen and (max-width:620px) {
    .contact select {
        width: 106% !important;
        display: flex;
        justify-content: space-between;
    }

    .btt {
        position: relative;
    }
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.9;
}

.contact form button {
    border: solid 1px #d0050b;
    color: #ffffff;
    background: #d0050b;
    font-size: 18px;
    /* height: 60px; */
    padding: 20px 50px;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    position: relative;
    display: flex;
    bottom: 30px;
    /* right: 0px; */
    margin-top: 50px;

}

.btt {
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    /* display: flexbox; */
    /* left: 38%; */
}

.contact form button span {
    z-index: 1;

    display: flex;
    align-items: center;
}

.contact form button:hover {
    color: #fff;
}

.contact form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* border-radius: 10px; */
    transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
    width: 100%;
}


.inline div {
    width: 100%;
    display: flex;
}